# PlatformIO build files
.pio/
.piolibdeps/
.clang_complete
.gcc-flags.json

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Ignore VS Code cache inside PlatformIO project
esp32-c3-supermini/.vscode/
!esp32-c3-supermini/.vscode/settings.json
!esp32-c3-supermini/.vscode/tasks.json
!esp32-c3-supermini/.vscode/launch.json

# Python cache & virtual env
__pycache__/
*.py[cod]
.venv/
env/

# Binaries & logs
build/
*.elf
*.bin
*.log

# OS junk
.DS_Store
Thumbs.db

# raw data
raw_data/